.cardWrapper {
 display: contents;
}

.card {
 padding: 1rem;
 border-radius: var(--radius);
 background-color: var(--body-bg-color);
 border: 1px solid var(--font-color);
 height: 380px;
}

.img {
 width: 180px;
 height: 200px;
}