.cardWrapper {
 display: contents;
 background-color: aqua;
}

.card {
 padding: 1rem;
 border-radius: var(--radius);
 background-color: var(--body-bg-color);
 border: 1px solid var(--font-color);
 min-height: 480px;
}

.img {
 width: 180px;
 height: 200px;
}

.description {
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
}