.searchControl {
 height: 100px;
 display: flex;
 align-items: center;
}

.input {
  width: 20%;
  height: 40px;
  padding: 0 10px;
  background-color: inherit;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  border-radius: var(--radius);
}